<mat-toolbar color="primary" class="fx-flex-0-0 fx-justify-start">
  <img class="fx-flex-0-0 logo" src="assets/logo-horizontal.svg" />
  <span class="fx-flex"></span>
  @if(!connectedDevice) {
    <button mat-icon-button 
            (click)="bluetoothConnectClicked()"
            [disabled]="isConnecting$.value"
            class="example-icon" 
            aria-label="Connect bluetooth button">
            
      <mat-icon>{{!connectedDevice ? 'bluetooth' : 'bluetooth_connected'}}</mat-icon>
    </button>
  }
  @else {
    <button mat-icon-button 
            class="icon-connected" 
            aria-label="Open Otto remote"
            (click)="openRemoteClicked()">
      <mat-icon>settings_remote</mat-icon>
    </button>
    <button mat-icon-button
            class="icon-connected" 
            aria-label="Disconnect bluetooth button"
            (click)="bluetoothDisconnectClicked()">
      <mat-icon>bluetooth_connected</mat-icon>
    </button>
  }
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- Add Content Here -->
<app-blockly class="fx-flex"></app-blockly>