<mat-toolbar color="primary" class="fx-flex-0-0 fx-justify-start">
  <img class="fx-flex-0-0 logo" src="assets/logo-horizontal.svg" />
  <span class="fx-flex"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- Add Content Here -->
<app-blockly class="fx-flex"></app-blockly>